/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/

    /* CSS syntax means div with class .bodyDivClass */
    div.bodyDivClass {

        background-color: sandybrown;
        min-height: 100vh !important;
        min-width: 100vw !important;
        justify-content: center;
        align-items: center;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/