/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

/* Display Layer */
/* Dimensions */
/* Text Styles */
/* Element Styles */
/* Animation */

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/

    .header {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        flex: 1;
        min-width: 99%;
        padding: 5px;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/

    /* CSS syntax means div with class .bodyDivClass */
    div.bodyDivClass {

        display: flex;
        background-color: sandybrown;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        /*min-height: 100%;*/
        min-height: 100vh !important;
        min-width: 100vw !important;
    }

        .section {

            /* Display Layer */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;

            /* Dimensions */
            flex: 15;
            min-width: 99%;
            padding: 5px;

            /* Text Styles */
            /* Element Styles */
            /* Animation */
        }

            .signInFormContainerClass {

                /* Display Layer */
                display: flex;
                flex: 10;

                /* Dimensions */

                /* Text Styles */
                /* Element Styles */
                /* Animation */
            }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/

    .footer {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        flex: 1;
        min-width: 99%;
        padding: 5px;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/