/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

/* Display Layer */
/* Dimensions */
/* Text Styles */
/* Element Styles */
/* Animation */
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/



    .matchaTitleDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 4;

        /* Dimensions */
        margin-top: 45px;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .matchaSloganDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 4;

        /* Dimensions */
        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .loginFormDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        max-width: 40vw;
        max-height: 50vh;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

        .loginFormClass {

            /* Display Layer */
            display: flex;
            justify-content: space-around;
            align-items: center;

            /* Dimensions */
            /* Text Styles */
            /* Element Styles */
            /* Animation */
        }

     .lastAddedDivClass {

         /* Display Layer */
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex:  45;

         /* Dimensions */
         min-height: 100%;

         /* Text Styles */
         /* Element Styles */
         /* Animation */
     }

    .aboutClass {

        /* Display Layer */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex:  150;

        /* Dimensions */
        min-height: 100%;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/

    /*Buttons Styling*/

    .scrollButtonClass {

        /* Display Layer */
        display: flex;

        /* Dimensions */
        padding: 10px 25px;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .signUpButtonClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        width: 15vw;
        height: 7vh;
        margin: 15px;

        /* Text Styles */
        text-transform: none;

        /* Element Styles */
        /* Animation */
    }

    .googleLoginButtonClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        width: 15vw;
        height: 7vh;
        margin: 15px;

        /* Text Styles */
        text-transform: none;

        /* Element Styles */
        background-color: #ff2300;

        /* Animation */
    }

    .loginButtonClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        width: 15vw;
        height: 7vh;
        margin: 15px;

        /* Text Styles */
        text-transform: none;

        /* Element Styles */
        /* Animation */
    }

    /*Animation Styling*/

    .item-1, .item-2, .item-3 {

        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 100%;
        margin: 5px;
        animation-duration: 20s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

    .item-1 {

        animation-name: anim-1;
    }

    .item-2 {

        animation-name: anim-2;
    }

    .item-3 {

        animation-name: anim-3;
    }

    @keyframes anim-1 {

        0%, 8.3% { left: -100%; opacity: 0; }
        8.3%,25% { left: 50%; opacity: 1; }
        33.33%, 100% { left: 100%; opacity: 0; }
    }

    @keyframes anim-2 {

        0%, 33.33% { left: -100%; opacity: 0; }
        41.63%, 58.29% { left: 50%; opacity: 1; }
        66.66%, 100% { left: 100%; opacity: 0; }
    }

    @keyframes anim-3 {

        0%, 66.66% { left: -100%; opacity: 0; }
        74.96%, 91.62% { left: 50%; opacity: 1; }
        100% { left: 100%; opacity: 0; }
    }
/*====================================================================================================================*/