/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

    /* CSS Comma Separator means AND */
    html, body {

        display: flex;
        margin: 0;
        padding: 0;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/

    /* CSS syntax means div with class .bodyDivClass */
    div.bodyDivClass {

        background-color: black;
        height: 100%;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/