/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

    /* CSS Comma Separator means AND */
    html, body {

        display: flex;
        margin: 0;
        padding: 0;
    }

    /* CSS Styling for forcing flex on all content children */
    html, body * {

        display: inherit;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/


/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/