/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

/* Display Layer */
/* Dimensions */
/* Text Styles */
/* Element Styles */
/* Animation */

    /* CSS Comma Separator means AND */
    html, body {

        /* Display Layer */
        /*display: flex;*/

        /* Dimensions */
        /*min-height: 100%;*/
        margin: 0px;
        padding: 0px;

        /* Text Styles */
        font-size: 20px;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        line-height: 1.8em;
        color: black;

        /* Element Styles */
        /* Animation */
    }

        body {

            /* Display Layer */
            /* Dimensions */
            margin: 0px;
            padding: 0px;
            /* Text Styles */
            /* Element Styles */
            /* Animation */
        }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/