/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

/* Display Layer */
/* Dimensions */
/* Text Styles */
/* Element Styles */
/* Animation */

    /* CSS Comma Separator means AND */
    html, body {

        /* Display Layer */
        /*display: flex;*/

        /* Dimensions */
        /*min-height: 100%;*/
        margin: 0;
        padding: 0;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/


    .modal {

        /* Display Layer */
        display: none;

        /* Dimensions */
        min-height: 100%;
        min-width: 100%;

        /* Text Styles */
        /* Element Styles */
        background-color: silver;

        /* Animation */
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/