/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

/* Display Layer */
/* Dimensions */
/* Text Styles */
/* Element Styles */
/* Animation */

    html, body {

        /* Display Layer */
        display: flex;

        /* Dimensions */
        margin: 0px 0px; !important;
        padding: 0px 0px; !important;

        /* Text Styles */
        color: #ececec

        /* Element Styles */
        /* Animation */
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/

    div.bodyDivClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        /* Dimensions */
        margin: 0px 0px; !important;
        padding: 0px 0px; !important;

        /* Text Styles */
        /* Element Styles */
        background-color: #561a02;

        /* Animation */
    }

        .section {

            /* Display Layer */
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-flow: column;

            /* Dimensions */
            margin: 0px 0px; !important;
            padding: 0px 0px; !important;

            /* Text Styles */
            /* Element Styles */
            /* Animation */
        }

            .pageOneDivClass, .pageTwoDivClass, .pageThreeDivClass, .pageFourDivClass {

                /* Display Layer */
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;

                /* Dimensions */
                margin: 0px 0px; !important;
                padding: 0px 0px; !important;
                min-height: 100vh;

                /* Text Styles */
                /* Element Styles */
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;

                /* Animation */
            }

            .pageOneDivClass {

                /* Display Layer */
                /* Dimensions */
                min-width: 98vw;

                /* Text Styles */
                /* Element Styles */
                background-image: url("../../../resources/images/backgrounds/index/indexBackground_1_AlphaThree.png");

                /* Animation */
            }

                .fixedMenuBarClass {

                    /* Display Layer */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;

                    /* Dimensions */
                    width: 100vw;

                    /* Text Styles */
                    /* Element Styles */
                    /* Animation */
                }

                .paneNarrowDivClass {

                    /* Display Layer */
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    /* Dimensions */
                    height: 25vh;
                    width: 50vw;
                    margin: 0px 0px;

                    /* Text Styles */
                    /* Element Styles */
                    /* Animation */
                }

                .paneWideDivClass {

                    /* Display Layer */
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    /* Dimensions */
                    width: 100vw;
                    height: 25vh;

                    /* Text Styles */
                    /* Element Styles */
                    /* Animation */
                }

            .pageTwoDivClass {

                /* Display Layer */
                /* Dimensions */
                min-width: 98vw;

                /* Text Styles */
                /* Element Styles */
                background-image: url("../../../resources/images/backgrounds/index/indexBackground_2_AlphaThree.png");

                /* Animation */
            }

                input {

                    width: 30vw;
                    padding: 5px;
                    text-align: center;
                    letter-spacing: 2.5px;
                    border: none;
                }

            .pageThreeDivClass {

                /* Display Layer */
                /* Dimensions */
                min-width: 98vw;

                /* Text Styles */
                /* Element Styles */
                background-image: url("../../../resources/images/backgrounds/index/indexBackground_3_AlphaOne.png");

                /* Animation */
            }

            .pageFourDivClass {

                /* Display Layer */
                /* Dimensions */
                min-width: 98vw;

                /* Text Styles */
                /* Element Styles */
                background-image: url("../../../resources/images/backgrounds/index/indexBackground_1_AlphaThree.png");

                /* Animation */
            }

            .smallCardClass {

                /* Display Layer */
                display: flex;
                justify-content: center;
                align-items: center;

                /* Dimensions */
                width: 10vw;
                height: 20vh;
                margin: 5px;

                /* Text Styles */
                /* Element Styles */
                /* Animation */
            }

            .cardClass {

                /* Display Layer */
                display: flex;
                justify-content: center;
                align-items: center;

                /* Dimensions */
                width: 20vw;
                height: 40vh;
                margin: 10px;

                /* Text Styles */
                /* Element Styles */
                /* Animation */
            }
/*
.cardClass {

    !* Display Layer *!
    display: flex;
    justify-content: center;
    align-items: center;

    !* Dimensions *!
    width: 20vw;
    height: 40vh;
    margin: 10px;

    !* Text Styles *!
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;

    !* Element Styles *!
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;

    !* Animation *!
}
*/

/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/

    @media (max-width: 568px) {

        .pageOneDivClass, .pageTwoDivClass, .pageThreeDivClass, .pageFourDivClass {

            /* Display Layer */
            /* Dimensions */
            /* Text Styles */
            /* Element Styles */
            background-attachment: scroll;

            /* Animation */
        }
    }

    .fillerClass {

        display: flex;
        flex: 1 1;
        justify-content: center;
        align-items: center;
        min-width: 60%;
    }

    .divUserRegScrollClass {

        /* Display Layer */
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* Dimensions */
        min-width: 20%;
        padding: 0px 0px;
        margin: 0px 25px;

        /* Text Styles */
        /* Element Styles */
        /* Animation */
    }

    .rowClass {

        display: flex;
        flex-flow: row;
    }

    .columnClass {

        display: flex;
        flex-flow: column;
    }

    .alignTopClass {

        display: flex;
        align-self: flex-start;
    }

    .alignBottomClass {

        display: flex;
        align-self: flex-end;
    }

    .alignContentCenterClass {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fullyOpaqueClass {

        opacity: .7;
    }

    .semiOpaqueClass {

        opacity: .85;
    }

    .slightlyOpaqueClass {

        opacity: .9;
    }

    .flexOneClass {

        display: flex;
        flex: 1;
    }

    .centerDivsClass {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .paddingFillerClass {

        padding: 15px;
    }

    .paddingLargeFillerClass {

        padding: 20px;
    }

    .maxDivHeightClass {

        height: 100%;
    }

    /*Text Styling*/
    .upperCaseClass {

        text-transform: uppercase;
    }

    .lowerCaseClass {

        text-transform: lowercase;
    }

    .textDecoNone {

        text-decoration: none;
    }

    /*Buttons Styling*/
    .lightButtonClass {

        background-color: #b89588
    }

    .darkButtonClass {

        background-color:#61443a;
    }

    .buttonClass {

        /* Display Layer */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Dimensions */
        width: 15vw;
        height: 7vh;
        margin: 15px;

        /* Text Styles */
        text-transform: none;

        /* Element Styles */
        /* Animation */
    }

    .cursorPointerToggleClass {

        cursor: pointer;
    }

    /*Color Themes*/

        /*Text Color Theme*/
        .textDarkBackgroundClass {

            color: wheat; !important;
        }

        .textLightBackgroundClass {

            color: #474747; !important;
        }

        /*Background Color Theme*/
        .w3-theme-l5 {color:#000 !important; background-color:#f8f4f3 !important}
        .w3-theme-l4 {color:#000 !important; background-color:#e7dcd7 !important}
        .w3-theme-l3 {color:#000 !important; background-color:#d0b8b0 !important}
        .w3-theme-l2 {color:#fff !important; background-color: #b89588 !important}
        .w3-theme-l1 {color: #474747; background-color:#a07261 !important}
        .w3-theme-d1 {color:#fff !important; background-color:#6d4d41 !important}
        .w3-theme-d2 {color: wheat; background-color:#61443a !important}
        .w3-theme-d3 {color:#fff !important; background-color:#553c33 !important}
        .w3-theme-d4 {color:#fff !important; background-color:#49332c !important}
        .w3-theme-d5 {color:#fff !important; background-color:#3d2b24 !important}

        .w3-theme-light {color:#000 !important; background-color:#f8f4f3 !important}
        .w3-theme-dark {color:#fff !important; background-color:#3d2b24 !important}
        .w3-theme-action {color:#fff !important; background-color:#3d2b24 !important}

        .w3-theme {color:#fff !important; background-color:#795548 !important}
        .w3-text-theme {color:#795548 !important}
        .w3-border-theme {border-color:#795548 !important}

        .w3-hover-theme:hover {color:#fff !important; background-color:#795548 !important}
        .w3-hover-text-theme:hover {color:#795548 !important}
        .w3-hover-border-theme:hover {border-color:#795548 !important}
/*====================================================================================================================*/
