/*
    //==========================\\
    ||      Default Styling     ||
    \\==========================//
*/

    .bodyDebugClass {

        border: thick solid black;
        background-color: black;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Header Styling      ||
    \\==========================//
*/

    .headerDebugClass {

        border: thick solid gold;
        background-color: gold;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Body Styling        ||
    \\==========================//
*/


    .mainDebugClass {

        border: thick solid red;
        background-color: red;
    }

        .divDebugClassOne {

            border: thick solid purple;
            background-color: purple;
        }

        .divDebugClassTwo {

            border: thick solid silver;
            background-color: silver;
        }

        .divDebugClassThree {

            border: thick solid white;
            background-color: white;
        }

        .divDebugClassFour {

            border: thick solid blue;
            background-color: blue;
        }

        .divDebugClassFive {

            border: thick solid deepskyblue;
            background-color: deepskyblue;
        }

    .asideDebugClass {

        border: thick solid yellow;
        background-color: yellow;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Footer Styling      ||
    \\==========================//
*/

    .footerDebugClass {

        border: thick solid greenyellow;
        background-color: greenyellow;
    }
/*====================================================================================================================*/
/*
    //==========================\\
    ||      Extra Styling      ||
    \\==========================//
*/

/*====================================================================================================================*/